body{
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a{
  color: rgb(255, 16, 16);
  text-decoration: none;
}


/* visited: se o site for visitado, ele mudarara de cor */
a:visited{
  color: rgb(131, 11, 11);
}


/* Quando passar o mouse em cima, a frase ficara sublinhada */
a:hover{
  text-decoration: underline;
  color: black;
}