* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /*height: 100%;*/
}

body {
  background-image: linear-gradient(to right, #024959, #f2c12e);
}

main {
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #684f05;
  width: 600px;
  padding: 10px;
  margin: auto;
}

h1 {
  color: #f2ae30;
  text-align: center;
  text-shadow: 1px 1px 2px #644202e8;
}

h2 {
  color: #593e25;
}

p {
  text-align: justify;
}
